
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yummyyy</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/icecreamsStyle.css">

</head>

<body>

<div class="slides_container spicy">
    <div class="slides">


        {% for recipe in spicy %}

            {% if loop.first %}
                <input  tabindex="-1" type="radio" id={{"trigger"~loop.index}} name="slider" checked autofocus  />
                <label for={{"trigger"~loop.index}}></label>
            {% endif %}

            {% if not loop.last and not loop.first %}
            <input  tabindex="-1" type="radio" id={{"trigger"~loop.index}} name="slider"   />
            <label for={{"trigger"~loop.index}}></label>
            {% endif %}



            <div class="slide" style="background-image: url({{asset(recipe.url)}}">
                <div class="hovereffect ">

                    <div class="overlay">
                        <h2 class="title">Pates au poireau et champignons</h2>
                        <a id="myBtn" href="/recipe/{{recipe.id}}">Open Modal</a>
                    </div>

                </div>
            </div>
        {% endfor %}    


    <div class="slides_container sweets">
    <div class="slides">

        {% for recipe in sweet %}

            {% if loop.first %}
                <input  tabindex="-1" type="radio" id={{"trigger"~loop.index~22}} name="slider"  />
                <label for={{"trigger"~loop.index~22}}></label>
            {% endif %}

            {% if not loop.last and not loop.first %}
            <input  tabindex="-1" type="radio" id={{"trigger"~loop.index~22}} name="slider"   />
            <label for={{"trigger"~loop.index~22}}></label>
            {% endif %}



            <div class="slide" style="background-image: url({{asset(recipe.url)}}">
                <div class="hovereffect ">

                    <div class="overlay">
                        <h2 class="title">Pates au poireau et champignons</h2>
                        <a id="myBtn" href="/recipe/{{recipe.id}}">Open Modal</a>
                    </div>
                    <!-- Modal  -->
                </div>
            </div>
        {% endfor %}




        <div id="myModal1" class="modal">
            <div class="modal-content">

                <span class="close">&times;</span>
                <div class="fade">



                    <div class="ingred">
                        <h1 class="smalltitle sticky ">Ingredients</h1>
                        <h2>For 2 people</h2>

                        <p>leek</p>
                        <p>180g mushrooms</p>
                        <p>2 cloves garlic</p>
                        <p>20g stale bread, cut into small pieces</p>
                        <p>200g of pasta</p>
                        <p> 40g parmesan</p>
                        <p> Olive oil</p>
                        <p>Salt pepper</p>
                        <p>Parsley</p>

                    </div>
                    <h1 class="smalltitle sticky">Receipe</h1>
                    <p>
                        Clean the mushrooms then slice them. Wash then mince the leek. Peel and mince the garlic cloves. Reserve. </p>

                    <p>In a frying pan, pour a drizzle of olive oil then brown the stale bread for a few minutes until it is golden brown. Salt then set aside. </p>

                    <p>Pour 2 tablespoons of olive oil in a pan and brown the garlic for 2 minutes. Add the mushrooms, then the leek and cook for ten minutes over medium heat while stirring. Meanwhile, immerse the pasta in 2 liters of salted water brought
                        to a boil and cook according to the instructions on the package. Remember to keep the pasta cooking water. </p>

                    <p>Pour a glass of pasta cooking water over the mushroom - leek mixture then add the Parmesan. Cook for another 5 minutes. Season with salt and pepper. </p>

                    <p>Once cooked, pour the pasta into the pan with a little cooking water and mix well.

                    <p>Serve the pasta on plates, sprinkle with coarsely chopped flat-leaf parsley, bread croutons and Parmesan cheese.
                </div>
            </div>
        </div>

        <div id="myModal2" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
        </div>

        <div class="modal" id="myModal3">
            <div class="modal-content"><span class="close">&times;</span>
                <p>third modal</p>
            </div>
        </div>
        <div class="modal" id="myModal4">
            <div class="modal-content"><span class="close">&times;</span>
                <p>forth modal</p>
            </div>
        </div>



    </div>

</div>

<div class="buttons">
    <div id="icecream">
        <div class="svg">

            {% include "country/icecream.html.twig"%}
             </div>

    </div>
</div>


    <script src="modal.js"></script>
    <script src="app.js"></script>
    <script src="js/recipes.js"></script>
</div>
</body>


</html>