
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yummyyy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/icecreamsStyle.css">

</head>

<body>

<div class="slides_container spicy">
    <div class="slides">


        {% for recipe in spicy %}

            {% if loop.first %}
                <input  tabindex="-1" type="radio" id={{"trigger"~loop.index}} name="slider" checked autofocus  />
                <label for={{"trigger"~loop.index}}></label>
            {% endif %}

            {% if not loop.last and not loop.first %}
            <input  tabindex="-1" type="radio" id={{"trigger"~loop.index}} name="slider"   />
            <label for={{"trigger"~loop.index}}></label>
            {% endif %}



            <div class="slide" style="background-image: url({{asset(recipe.url)}}">
                <div class="hovereffect ">

                    <div class="overlay">
                        <h2 class="title">Pates au poireau et champignons</h2>
                        <a id="myBtn" href="/recipe/{{recipe.id}}">Open Modal</a>
                    </div>

                </div>
            </div>
        {% endfor %}    
    </div>
</div>

<div class="slides_container sweets">
    <div class="slides">

        {% for recipe in sweet %}

            {% if loop.first %}
                <input  tabindex="-1" type="radio" id={{"trigger"~loop.index~22}} name="slider"  />
                <label for={{"trigger"~loop.index~22}}></label>
            {% endif %}

            {% if not loop.last and not loop.first %}
            <input  tabindex="-1" type="radio" id={{"trigger"~loop.index~22}} name="slider"   />
            <label for={{"trigger"~loop.index~22}}></label>
            {% endif %}



            <div class="slide" style="background-image: url({{asset(recipe.url)}}">
                <div class="hovereffect ">

                    <div class="overlay">
                        <h2 class="title">Pates au poireau et champignons</h2>
                        <a id="myBtn" href="/recipe/{{recipe.id}}">Open Modal</a>
                    </div>
                    <!-- Modal  -->
                </div>
            </div>
        {% endfor %}


    </div>


</div>

<div class="buttons">
    <div id="icecream">
        <div class="svg">

            {% include "country/icecream.html.twig"%}
             </div>

    </div>
</div>


    <script src="/modal.js"></script>
    <script src="/app.js"></script>
    <script src="/js/recipes.js"></script>
</div>
</body>


</html>