<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {{ food.title }}
    </title>

    <link rel="stylesheet" href="/css/recipe.css" />
    <link rel="stylesheet" href="/css/gotohome.css">
    <style>
      a.gotohome{
        padding: 8px 14px;
        left: 10px ; 
        right: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div
        class="image"
        style="background-image: url('/{{ food.url }}');"
      ></div>
      <div class="recette">
        <form class="mycheckbox" method="POST" action="/handlecheck">
          <input type="checkbox" name="checked" id="favorite" {% if isFavorite %} checked {% endif %} />
          
          <div class="mystar">
          </div>
          <input type="hidden" name="id" value="{{food.id}}">
        </form>
        
        <div>
          <h1>
            {{ food.title }}
          </h1>
        </div>
        <hr />
        <div class="ingredients">
          <h3>Ingredients</h3>
          <p>{{ food.ingredients }}</p>
        </div>
        <hr />
        <div class="recipe">
          <h3>recipe</h3>
          <p>
            {{ food.receipt }}
          </p>
        </div>
        <hr />

        <form action="/postcomment" method="post">
          <div>
            <label for="grade">Grade : </label>
            <input
              id="grade"
              type="number"
              min="1"
              max="5"
              name="grade"
              required
            />
          </div>
          <div>
            <label for="comment">Comment : </label>
            <div class="comment-part">
              <input id="comment" type="text" name="comment"  />
              <button type="submit">Submit</button>
            </div>
          </div>
          <input type="hidden" name="id" value="{{ food.id }}" />
          
        </form>
        <br />
        <h2>Other Comments:</h2>
        <br />
        <div class="comments">
          <!-- loop through database comments in here      -->
          {% for vote in votes %}
          <div class="comment">
            <p>{{ vote.comment }}</p>
            <p>grade: {{ vote.grade }}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      

      <script >
        const checkbox = document.querySelector('#favorite');
        const form = document.querySelector('form.mycheckbox')
        checkbox.addEventListener('change',()=>{
          form.submit();
        })
      </script>
      
    </div>
    <a href="/country/{{food.country}}" class="gotohome">x</a>

  </body>
</html>
